@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  position: relative;
  overflow: hidden; /* Asegúrate de que el efecto no se desborde */
}
/* styles.css */
.gradient-text {
  @apply bg-clip-text text-transparent;
  background: linear-gradient(90deg, #00cfef, #c9fffe);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3); /* Efecto de iluminación */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s; /* Transición suave */
}

.card:hover::before {
  opacity: 1; /* Mostrar el efecto de iluminación al pasar el mouse */
}




.fondo2 {
  background-color: #0f172a; /* Color base diferente */
  background-image: radial-gradient(
    circle farthest-side,
    rgba(0, 182, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

/* Puedes agregar más clases como fondo3, fondo4, etc. */
.fondo3 {
  background-color: #0a0a0a; /* Otro color base */
  background-image: radial-gradient(
    circle farthest-side,
    rgba(182, 255, 0, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.tarjeta {
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
  animation: parpadeo 2s infinite;
  -webkit-animation: parpadeo 2s infinite;
}

/* Animación del parpadeo */
@keyframes parpadeo {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.2); /* Color original */
  }
  25% {
    border-color: rgba(
      255,
      255,
      255,
      0.3
    ); /* Color ligeramente más brillante */
  }
  50% {
    border-color: rgba(255, 255, 255, 0.4); /* Color un poco más brillante */
  }
  75% {
    border-color: rgba(
      255,
      255,
      255,
      0.3
    ); /* Regresar a un brillo intermedio */
  }
}

/* Para evitar que el borde parpadee al hacer hover */
.tarjeta:hover {
  animation: none; /* Detener la animación al hacer hover */
  border: 2px solid rgba(255, 255, 255, 0.2);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-dad:hover .underline {
  width: 100%;
  height: 2px;
  background: #fff;
  /*Colorinicial*/
  animation: mostrar-degradado 3s linear infinite;
  -webkit-animation: mostrar-degradado 3s linear infinite;
}

.underline {
  width: 100%; /* Ancho completo */
  height: 2px; /* Grosor de la línea */
  background-color: #fff;
}

@keyframes mostrar-degradado {
  0% {
    background-color: #fff; /* Color inicial */
  }
  50% {
    background-color: #2c2c2c; /* Color intermedio */
  }
  100% {
    background-color: #fff; /* Color final */
  }
}

.relative:hover .absolute {
  opacity: 1;
}
.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text-container {
  /* Mantener el tamaño del contenedor en pantallas grandes */
  max-height: 100%;
}
@media (max-width: 500px) {
  .text-container {
    max-height: 200px; /* Ajusta esta altura según sea necesario */
    max-height: 200px;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
  
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Aplicar las animaciones a la tarjeta de detalles */
.card-content.slide-in {
  animation: slide-in 0.5s ease-out forwards;
}

.card-content.slide-out {
  animation: slide-out 0.5s ease-in forwards;
}

/*----------------------------clases de Swiper------------------------------------------*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextui-c-gEEnVX-qXFXw-color-default .nextui-avatar-bg {
  background-color: transparent;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000000 !important;
}
.swiper-pagination-bullet-active {
  background: #025a4e !important;
  opacity: 1;
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: #025a4e !important;
  opacity: 0.5;
}

/* Estilo para el scrollbar en navegadores webkit (Chrome, Safari, etc.) */
/* Cambia el color del scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

/* Cambia el color del fondo del scrollbar */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* Color del fondo */
}

/* Cambia el color del thumb (la parte deslizable del scrollbar) */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
}

/* Cambia el color del thumb cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc; /* Color del thumb al pasar el mouse */
}

.swal2-modal {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: white 1px solid;
  border-radius: 15px;
  background: #545454;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.swal2-success-circular-line-right {
  background-color: #545454;
}
.swal2-error-circular-line-right {
  background-color: #545454;
}

/* Estilo para Chrome, Safari y Opera */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important; /* Fondo negro */
  box-shadow: 0 0 0px 1000px #000000 inset !important; /* Fondo negro */
  -webkit-text-fill-color: #ffffff !important; /* Texto blanco */
}

/* Estilo para Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #000000 inset !important; /* Fondo negro */
  -moz-text-fill-color: #ffffff !important; /* Texto blanco */
}

/* Estilo para Edge */
input:-ms-autofill {
  box-shadow: 0 0 0px 1000px #000000 inset !important; /* Fondo negro */
  -ms-text-fill-color: #ffffff !important; /* Texto blanco */
}

/* Estilo general */
input.autocomplete {
  background-color: #000000 !important; /* Fondo negro */
  color: #ffffff !important; /* Texto blanco */
}
